<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.cn.mapper.BookMapper">
	<insert id="addBook" parameterType="com.ibm.cn.model.Book">
		INSERT INTO book(name,author) VALUES (#{name},#{author})
	</insert>
	
	<delete id="deleteBookById" parameterType="int">
		DELETE FROM book WHERE id=#{id}
	</delete>
	
	<update id="updateBookById"
		parameterType="com.ibm.cn.model.Book">
		UPDATE book SET name=#{name},author=#{author}
		WHERE id=#{id}
	</update>

	<select id="getBookById" parameterType="int"
		resultType="com.ibm.cn.model.Book">
		SELECT * FROM book WHERE id=#{id}
	</select>

	<select id="getAllBooks" resultType="com.ibm.cn.model.Book">
		SELECT * FROM book
	</select>

	<select id="queryBooksBySql" parameterType="map"
		resultType="com.ibm.cn.model.Book">
		select * from book limit #{currIndex} , #{pageSize}
	</select>


</mapper>